@model Dokument

@{
    ViewBag.Title = "Novi Dokument";
}

<h2>Unos novog Dokumenta</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    
    <div class="mb-3">
        <label asp-for="NazivDatoteka" class="form-label"></label>
        <input asp-for="NazivDatoteka" class="form-control" />
        <div class="form-text"><span asp-validation-for="NazivDatoteka" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="TipDokument" class="form-label"></label>
        <select asp-for="TipDokument" class="form-control">
            <option value=".txt">.txt</option>
            <option value=".docx">.docx</option>
            <option value=".xlsx">.xlsx</option>
            <option value=".pdf">.pdf</option>
            <option value=".c">.c</option>
            <option value=".cpp">.cpp</option>
            <option value=".java">.java</option>
            <option value=".cs">.cs</option>
            <option value=".json">.json</option>
            <option value=".exe">.exe</option>
        </select>
        <div class="form-text"><span asp-validation-for="TipDokument" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="VelicinaDokument" class="form-label"></label>
        <input id="sizeValue" class="form-control" type="number" required pattern="\d+"/>
        <select id="sizeUnit" class="form-control">
            <option value="KB">KB</option>
            <option value="MB">MB</option>
            <option value="GB">GB</option>
        </select>
        <input type=hidden asp-for="VelicinaDokument" class="form-control" id="poslanaVelicina"/>
        <div class="form-text"><span asp-validation-for="VelicinaDokument" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="URLdokument" class="form-label"></label>
        <input asp-for="URLdokument" class="form-control" />
        <div class="form-text"><span asp-validation-for="URLdokument" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdVrstaDok" class="form-label"></label>
        <select class="form-control" asp-for="IdVrstaDok" asp-items="ViewBag.vrste">
            <option disabled selected value="">Odaberite vrstu dokumenta</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdVrstaDok" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label"></label>
        <select class="form-control" asp-for="IdProjekt" asp-items="ViewBag.projekti">
            <option disabled selected value="">Odaberite projekt kojem pripada dokument</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sizeValueInput = document.getElementById('sizeValue');
            var sizeUnitInput = document.getElementById('sizeUnit');
            var concatenatedSizeInput = document.getElementById('poslanaVelicina');

            document.querySelector('form').addEventListener('submit', function () {
                // Concatenate sizeValue and sizeUnit and set the value to concatenatedSize input
                concatenatedSizeInput.value = sizeValueInput.value + ' ' + sizeUnitInput.value;
            });
        });
    </script>
</form>


