@{
    ViewData["Title"] = "Izvještaji";
}


<r1>Baraa Yassin</r1>
<ul>
    <li>
        <a asp-action="ProjektneKarticeExcel">Popis svih projektnih kartic</a>
    </li>
    <li>
        <a asp-action="TransakcijeExcel">Popis svih transakcije</a>
    </li>
    <li>
        <a asp-action="ProjektnaKarticaTransakcijeExcel">Popis master(ProjektnaKartica)-detail(Transakcija)</a>
    </li>
    <r1>Mia Crnolatac</r1>
    <li>
        <a asp-action="ZahtjevExcel">Popis svih zahtjeva</a>
    </li>
    <li>
        <a asp-action="ZadatakExcel">Popis svih zadataka</a>
    </li>
    <li>
        <a asp-action="ZahtjeviZadatciExcel">Popis master(Zahtjev)-detail(Zadatak)</a>
    </li>
</ul>
<r1>Baraa Yassin</r1>
<ul>
    <li>
        <a asp-action="ProjektneKarticePDF">ProjektneKarticePDF</a>
    </li>
    <li>
        <a asp-action="TransakcijePDF">TransakcijePDF</a>
    </li>
    <li>
        <a asp-action="ProjektnaKarticaTransakcijePDF">Popis master(ProjektnaKartica)-detail(Transakcija) PDF</a>
    </li>
    Mia Crnolatac
    <li>
        <a asp-action="ZahtjevPDF">Zahtjev PDF</a>
    </li>
    <li>
        <a asp-action="ZadatakPDF">Zadatak PDF</a>
    </li>
</ul>

<div id="upload row">
    <form class="form-inline" asp-action="ImportProjektneKartice" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-xs-6 col-md-3 ">
                <label for="importFile">Uvoz podataka u excel formatu za opremu i uređaje</label>
                <input type="file" class="form-control" id="importFile" name="importFile" data-save="">
            </div>
            <div class="form-group">
                <label for="submit"></label>
                <input type="submit" id="submit" value="Uvezi">
            </div>
        </div>
    </form>
</div>
<br /><br />

