@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RPPP_WebApp.Models.Zahtjev


<h2>Unos novog zahtjeva</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Opis" class="form-label"></label>
        <input asp-for="Opis" class="form-control" />
        <div class="form-text"><span asp-validation-for="Opis" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Prioritet" class="form-label"></label>
        <input asp-for="Prioritet" class="form-control" />
        <div class="form-text"><span asp-validation-for="Prioritet" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="VrPocetak" class="form-label">Vrijeme početka</label>
        <input maxlength="3" asp-for="VrPocetak" class="form-control" />
        <div class="form-text"><span asp-validation-for="VrPocetak" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="VrKraj" class="form-label">Vrijeme kraja</label>
        <input maxlength="3" asp-for="VrKraj" class="form-control" />
        <div class="form-text"><span asp-validation-for="VrKraj" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="VrKrajOcekivano" class="form-label">Očekivano vrijeme kraja</label>
        <input maxlength="3" asp-for="VrKrajOcekivano" class="form-control" />
        <div class="form-text"><span asp-validation-for="VrKrajOcekivano" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label">Projekt kojem zahtjev pripada</label>
        <select class="form-control" asp-for="IdProjekt" asp-items="ViewBag.ProjektiPopis">
            <option disabled selected value="">Odaberite projekt</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdVrsta" class="form-label">Vrsta zahtjeva</label>
        <select class="form-control" asp-for="IdVrsta" asp-items="ViewBag.ZahtjeviVrste">
            <option disabled selected value="">Odaberite vrstu zahtjeva</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdVrsta" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    @* <partial name="IncludeValidation" /> *@
}